

<ion-header [translucent]="true">
 
  <ion-toolbar>
    <ion-title>
      Locais para visitar 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card >
    <img routerLink="/contact" alt="Silhouette of mountains" src="../../assets/psv-cp.webp" />
    <ion-card-header>
      
      <ion-card-title>Praça São Salvador</ion-card-title>
      <ion-card-subtitle>Campos dos goytacazes</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      fica localisado proximo ao campos shopping <br> na beira rio
      
    </ion-card-content>
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label><a href="https://www.google.com/maps/place/Pra%C3%A7a+S%C3%A3o+Salvador+-+Centro,+Campos+dos+Goytacazes+-+RJ/@-21.7556487,-41.3231875,17z/data=!4m6!3m5!1s0xbdd44cfe6a6d25:0x61ac138498c3a475!8m2!3d-21.7556487!4d-41.3231875!16s%2Fg%2F1ymthm77l">localização </a> </ion-label>
    </ion-item>
   
  </ion-card>


  
  <ion-card >
    <img routerLink="/contact" alt="Silhouette of mountains" src="../../assets/blv-sp.jpg" />
    <ion-card-header>
      
      <ion-card-title>Boulevard Shopping</ion-card-title>
      <ion-card-subtitle>Campos dos goytacazes</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      fica localisado proximo ao terminal de onibus <br> no Shopping Estrada
    </ion-card-content>
  </ion-card>


  
  <ion-card >
    <img routerLink="/contact" alt="Silhouette of mountains" src="../../assets/tt-cp.jpg" />
    <ion-card-header>
      
      <ion-card-title>Teatro Trianon</ion-card-title>
      <ion-card-subtitle>Campos dos goytacazes</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      fica localisado proximo ao jardim São Benedito <br> no Centro de Campos
    </ion-card-content>
  </ion-card>


  
  <ion-card >
    <img routerLink="/contact" alt="Silhouette of mountains" src="../../assets/cd-cr.jpg" />
    <ion-card-header>
      
      <ion-card-title>Cidade da Criança</ion-card-title>
      <ion-card-subtitle>Campos dos goytacazes</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      fica localisado na 28 de março <br> proximo a beira valão
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/contact">contatos</ion-button>

  
</ion-content>
